.footer {
  text-align: center;
  padding: 20px;
  background-color: #4caf50;
  color: white;
}

.footer img {
  width: 100px;
  margin-top: 10px;
}
.footer-image {
  width: 100%;
  max-width: 600px; /* Se ajustará hasta este tamaño */
  height: auto; /* Mantendrá la proporción */
}
